<p id="notice"><%= notice %></p>

<div id='feed_header'>
  <div id='feed_title_bar'>
    <a href='<%= @feed.url %>'><%= @feed.title %></a>
    <%= link_to 'Refresh the feed', refresh_path(@feed), :class => 'feed_command' %>
  </div>

  <p> Last updated: <%= time_ago_in_words(@feed.updated_at) %> ago. 
  Most recent item: <%= @feed.most_recent_item_time %>
  </p>

</div>

<% if @feed.feed_items.count == 0 %>
	<p>No items in the feed. Sorry.</p>
<% else %>
	<% @feed.feed_items.each do |item| %>
	<% itemclass = 'item' %>
	<% if item.read %>
		<% itemclass = 'item already_read' %>
	<% end %>
		
	<div class="<%= itemclass %>">
    <div class='item_title'>
      <a target="_blank" href="<%= sanitize(item.link) %>"><%= sanitize(item.title) %></a>
      <% if item.has_sub_items? %>
      <div class='subitemslink'>
        <%= link_to "#{item.num_threadentries} entries", subfeed_path(@feed, item)  %> 
      </div>
      <% end %>
    </div>
		<div class='item_description'><%= sanitize(item.description) if not item.description.nil? %></div>
    <p><%= "Posted #{time_ago_in_words(item.pub_date)} ago" %></p>
		<div class='item_actions'>

			<%= form_tag(:feed_item, :method=>'put') do %>
			<%= hidden_field_tag(:read_item_id, item.id) %>
			<%= submit_tag 'Mark as read', :class=>'mark_as_read_button', "data-itemid"=>item.id %>
			<% end %>
		</div>
	</div>
	<% end %>
<% end %>


<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Delete feed', url_for(:controller=>:feeds, :id=>@feed.id, :action=>'destroy'), :method=>'delete' %>
