<p id="notice"><%= notice %></p>


<% current_trail_id = current_user.current_trail.id %>
<% index = 0 %>

<div id='all_trails_div' data-basepath="<%= root_url %>">
  <div id='feed_title_bar'>
    <%= link_to "#{@page.title}", edit_page_path(@page) %>
    <%= link_to "New Trail", new_trail_path(:pageid => @page.id), :class => 'titlecommand' %>
    <%= link_to 'All Links', links_path, :class => 'titlecommand'  %>
  </div>
  <% index = 0 %>
  <% @cols.each do |col|  %>
  <div class="column column" style='min-height: 13em;' data-column='<%= index %>'>
    <% index += 1 %>
    <% col.each do |trail| %>
    <div class='traildiv'>
      <div class='trailtitlebar'>
        <div class='trailtitle' data-trailid='<%= trail.id %>'>
          <%= link_to trail.title, trail_path(trail) %>
        </div>
          <%= link_to "current", setcurrent_path(trail), :via => :post, :class => 'trailtitlecommand' %>
      </div>
      <% linkclass = 'traillinks' %>
      <% if trail.id == current_user.setting.current_trail_id %>
      <% linkclass = 'traillinks currenttrail' %>
      <% end %>

      <div class='<%= linkclass %>'>
        <% trail.links.order('sort_index asc').each do |link| %>
        <div class='linkurl' data-id='<%= link.id %>'><a class='linkclass' href='<%= link.url %>'><%= link.title %></a></div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>

</div>

<br class='cleardiv' />

