<div id='feed_title_bar'>
  Trail: <%= @trail.title %>
</div>


<% if not @trail.notes.nil? %>
  <div id='trailnotes'>
    <%= sanitize(textilize(@trail.notes)) %>
  </div>
<% end %>

<% if not @trail.notes.nil? %>
  <div id='trailnotes'>
    <%= RedCloth.new(@trail.notes).to_html.html_safe %>
  </div>
<% end %>

<p>
Links:
<p>

<div class='traillinks'>
  <% @trail.links.order('sort_index asc').each do |link| %>
  <div class='linkurl' data-id='<%= link.id %>'><a class='linkclass' href='<%= link.url %>'><%= link.title %></a></div>
  <% end %>
</div>

<div id='item_footer'>
<%= link_to 'Edit', edit_trail_path(@trail) %> |
<%= link_to 'All trails', trails_path %>
</div>

<div class='cleardiv'></div>
