<h1>Listing reader_users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reader_users.each do |reader_user| %>
  <tr>
    <td><%= reader_user.email %></td>
    <td><%= reader_user.name %></td>
    <td><%= link_to 'Show', reader_user %></td>
    <td><%= link_to 'Edit', edit_reader_user_path(reader_user) %></td>
    <td><%= link_to 'Destroy', reader_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reader user', new_reader_user_path %>
