<!DOCTYPE html>
<html>
<head>
  <title>Reads reads feeds</title>
  <%= stylesheet_link_tag 'scaffold.css', 'dotts', 'site.css', 'colors.css' %>
  <%= javascript_include_tag "jquery/js/jquery-1.4.2.min", 'jquery/js/jquery-ui-1.8.5.custom.min', "reads", "dotts", 'jquery-ui-timepicker-addon' %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id='outerdiv'>
		
    <% if user_signed_in? %>
      <div id='navbox'>
        <ul>
          <li><a href='<%= root_path %>trails'>Trails</a></li>
          <li><a href='<%= root_path %>'>Reads</a></li>
          <li><a href='<%= pages_path %>'>Pages</a></li>
          <li>&nbsp;</li>
          <li><a href='/'>Site home</a></li>
          <li><a href='<%= root_path %>about'>About</a></li>
          <li><a href='<%= root_path %>users/sign_out'>Log out</a></li>
          
          <li><a href='<%= authentications_path %>'>Authentication methods</a></li>
        </ul>

        <% pwd = request.env['PATH_INFO'] %> 
        <% if pwd.include? "pages" or pwd.include? "trails" %> 
        <%= render 'layouts/pages' %>
        <% else %>
        <%= render 'layouts/feeds' %>
        <% end %>



      </div>
      <div id='feedbox'>
      </div>

      <div id='contents'>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    <% else %>
      <div id='contents'>
        <p><b>Reads</b> is a very simple RSS reader.<br /> <br /></p>
        <p>Sign in using <a href='<%= root_path %>auth/twitter'>twitter</a></p>
        <p>Or sign in using <a href='<%= root_path %>auth/facebook'>Facebook</a></p>
        <p>Or, with <a href='<%= authentications_path %>'>another service</a></p>
        <%= yield %>
      </div>
    <% end %>



	</div>



</body>
</html>
