<!DOCTYPE html>
<html>
<head>
  <title>Reads reads feeds</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery/js/jquery-1.4.2.min", 'jquery/js/jquery-ui-1.8.5.custom.min', "reads" %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id='outerdiv'>
		
		<div id='navbox'>
			<ul>
				<li><a href='/'>home</a></li>
				<li><a href='/feeds'>Feeds</a></li>
				<li><a href='/feed_items'>Feed Items</a></li>
			</ul>
			
			<%= render 'layouts/feeds' %>
			
		</div>
		
		
		<div id='feedbox'>
		</div>


		<div id='contents'>
		  <p class="notice"><%= notice %></p>
		  <p class="alert"><%= alert %></p>
			<%= yield %>
		</div>
	</div>



</body>
</html>
