<!DOCTYPE html>
<html>
<head>
  <title>Reads reads feeds</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery/js/jquery-1.4.2.min", 'jquery/js/jquery-ui-1.8.5.custom.min', "reads" %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id='outerdiv'>
		
    <% if user_signed_in? %>
      <div id='navbox'>
        <ul>
          <li><a href='/'>Site home</a></li>
          <li><a href='<%= root_path %>'>Reads home</a></li>
          <li><a href='/about'>About</a></li>
          <li><a href='/users/sign_out'>Log out</a></li>
          <li><a href='/reads/authentications'>Authentication methods</a></li>
        </ul>

        <%= render 'layouts/feeds' %>

      </div>
      <div id='feedbox'>
      </div>

      <div id='contents'>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    <% else %>
      <div id='contents'>
        <p><b>Reads</b> is a very simple RSS reader.<br /> <br /></p>
        <p>Sign in using <a href='/reads/auth/twitter'>twitter</a></p>
        <%= yield %>
      </div>
    <% end %>



	</div>



</body>
</html>
